[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cytominer"]
	path = cytominer
	url = https://github.com/cytomining/cytominer
[submodule "matric"]
	path = matric
	url = https://github.com/cytomining/matric
